body {
  font-family: "Kodchasan", sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: rgb(21, 52, 72);
  color: rgb(223, 208, 184);
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

hr {
  background-color: white;
  border-style: none;
  height: 2px;
}

.profile {
  border-style: dashed;
  border-radius: 20px;
  padding: 20px;
  margin: 15px 0;
}

.img-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.skill {
  /* background-color: #f1c5e9; */
}

.resume {
  /* background-color: #e0defa; */
}

.contact {
  /* background-color: #f3e2d1; */
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  /* background-color: #d6eeee; */
}
